{{define "linkInterection"}}

{{template "header"}}
    <div>
        <div>
            <form role="form" method="POST" action="/save">
                <input type="hidden" name="id" value="{{.LinkId}}">

                <label for="fullLink">Full Link</label>
                <input type="text" name="fullLink" id="fullLink" value="{{.FullLink}}">

                <label for="shortLink">Custom Short Link</label>
                <input type="text" name="shortLink" id="shortLink" value="{{.ShortLink}}">
                <button type="submit">Submit</button>
            </form>
        </div>

        <div>
            {{ if .LinkId }}
                <a href="/delete?id={{.LinkId}}">Delete</a>
            {{ end }}
        </div>
    </div>

{{template "footer"}}
{{end}}